*{
    margin: 0;
    padding: 0;
}
header{
    width: 100%;
} 
section{
    display: flex;
    justify-content:space-around;
}
nav{
    box-sizing: border-box;
    padding-top: 10.5px;
}
nav ul{
    list-style: none;
}
nav ul li{
    display: inline;
    color: #fae5ae;
    border-top: solid #fae5ae;
    border-bottom:  solid #fae5ae ;
    padding: 10px;
    cursor: pointer;
    transition: 0.5s;
}
nav ul li:nth-child(2){
    margin: 0 16px;
}
nav ul li:hover{
    background-color: #fcd061;
    box-shadow: 
                0 0 8px  #fae5ae,
                0 0 8px  #ee3d07,
                0 0 10px #fae5ae,
                0 0 12px #fae5ae;
    border-radius: 8px;
    color: white;
    transition: 1s;

}
section div.Redes img:nth-child(1){
    margin-right: 32px;
    }
    

